/* Your styles here */
*,
*::before,
*::after {
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap");
/*generale*/
body {
  color: #393d41;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65;
  text-align: center;
}

body h1,
body h3 {
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  margin-block: 10px;
}
h2,
h4 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}
h2 {
  font-weight: bold;
  margin-block: 20px;
}
/* header */
.logo {
  background-color: black;
  padding-block: 20px;
}
.logo > img {
  width: 150px;
  cursor: pointer;
}
.header {
  background-image: url(../images/banner.jpg);
  background-position: center;
  background-size: 450px;
  padding: 40px;
}
h1 {
  font-size: 30px;
  margin-bottom: 20px;
}
body button {
  background-color: #f04c2f;
  border-width: 0;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-variant: all-small-caps;
  font-size: 20px;
  margin-top: 20px;
  padding-block: 10px;
  padding-inline: 30px;
  border-radius: 5px;
  cursor: pointer;
}
/*main*/
.main {
  padding-top: 40px;
}
.notebook {
  border-radius: 50%;
  width: 200px;
  padding-top: 10px;
}
.orange {
  background-color: #e22d0e;
  color: white;
  padding-inline: 20px;
  padding-block: 40px;
  margin-block: 60px;
}
.orange h2 {
  font-size: 30px;
}
.orange p {
  font-style: italic;
  font-size: 15px;
  margin-block: 10px;
}
.orange h4 {
  margin-top: 20px;
}
.orange h5 {
  font-size: 10px;
}
.box {
  border-width: 1px;
  border-color: #dee1e3;
  border-style: solid;
  margin-inline: 20px;
  margin-block: 30px;
  padding-bottom: 20px;
}
.box p {
  padding-inline: 20px;
}
.foto {
  width: 100%;
}
/*footer*/
footer {
  background-color: #25a2c3;
  color: white;
  padding-top: 20px;
  padding-bottom: 60px;
}
footer h2 {
  font-size: 30px;
}
footer a {
  color: #c8e7f0;
}
footer p > span {
  color: #c8e7f0;
}
footer p:last-of-type {
  margin-bottom: 20px;
}
footer > span {
  border-top-color: #c8e7f0;
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: 30px;
  color: #c8e7f0;
}
